.devcontainer/

.git/
.github/

.docker/
!.docker/start.sh

docker-compose*.yaml
docker-compose*.yml

Dockerfile
Dockerfile.prod

coverage/

dist/

envs/

node_modules/

*.sqlite

*.md

api.http

create-rsa.js
create-token.js
